<div>
 <label for="title">タイトル</label>
 <input type="text" name="title" id="title" />
</div>
<div>
 <label for="description">本文</label>
 <input type="text" name="description" id="description" />
</div>
<div>
 <label for="markdown">マークダウン</label>
 <textarea name="markdown" id="markdown"></textarea>
</div>
<a href="/">キャンセル</a>
<button type="submit">保存</button>
